﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="_Default" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Unprotected home page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Label1" runat="server" Text="Unprotected Home Page"></asp:Label>
        <br />
        <asp:Label ID="Label2" runat="server" Text="LoginStatus:"></asp:Label>
        <asp:LoginStatus ID="LoginStatus1" runat="server" />
        <br />
        <asp:Label ID="Label3" runat="server" Text="LoginName:"></asp:Label>
        <asp:LoginName ID="LoginName1" runat="server" />
    
    </div>
    </form>
</body>
</html>
