﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="AddressControl.ascx.cs" Inherits="AddressControl" %>
<asp:Label ID="Label1" runat="server" Text="Street:"></asp:Label>
<asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
<p>
    <asp:Label ID="Label2" runat="server" Text="City:"></asp:Label>
    <asp:TextBox ID="TextBox2" runat="server"></asp:TextBox>
</p>
<p>
    <asp:Label ID="Label3" runat="server" Text="Province:"></asp:Label>
    <asp:DropDownList ID="DropDownList1" runat="server">
        <asp:ListItem>ON</asp:ListItem>
        <asp:ListItem>QC</asp:ListItem>
        <asp:ListItem>AB</asp:ListItem>
    </asp:DropDownList>
</p>

