﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Shippers.aspx.cs" Inherits="Shippers" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <asp:Label ID="Label1" runat="server" Text="ID:"></asp:Label>
        <asp:TextBox ID="idTB" runat="server"></asp:TextBox>
        <br />
        <asp:Label ID="Label2" runat="server" Text="Name:"></asp:Label>
        <asp:TextBox ID="nameTB" runat="server"></asp:TextBox>
        <br />
        <asp:Label ID="label3" runat="server" Text="Phone:"></asp:Label>
        <asp:TextBox ID="phoneTB" runat="server"></asp:TextBox>
        <br />
        <asp:Button ID="Button1" runat="server" Text="Insert" />
        <asp:Button ID="btnRead" runat="server" OnClick="btnRead_Click" Text="Read" />
        <asp:Button ID="Button3" runat="server" Text="Button" />
        <asp:Button ID="Button4" runat="server" Text="Button" />
        <br />
        <asp:Label ID="resultsLbl" runat="server"></asp:Label>
    
    </div>
    </form>
</body>
</html>
